.App {
  text-align: center;
}

.Collapsible {
  background-color: lightgreen;
  text-align: left;
}

.ingredients {
  background-color: white;
}

.recipe-name {
  background-color: lightgreen;
  margin: 5px 5% 0 5%;
  border-radius: 5px;
}